# What is a DataBase?

## How do we structure application data?
### In Memory:
* simple variables: numerics and string
* data structures: lsits, dictionaries, objects
Memory is ephemeral and temporary


### Durable Storage:
* flat files on disk: test, XML, JSON
Durable storage is persistent and durable.

Databases give us persistence like a file but also data structure for multiple programs or users to access modify data without steping on eachothers toes or make changes.
This is not possible with files as they only update on saves.

### Databases:
* key-value store
* navigational DB
* relational DB

## Relational database features:
### All Databases:
* persistent storage
* safe concurrent access by multiple programs/users
### Relational database:
* Flexible query language with aggregation and join operations
* contstraints - rules for protecting consistency of your data


### Looking at Tables:
In a relational database we store all of our data in the forum of tables

Country| Population| Literacy
--- | --- | ---
Argentina | 43 million | 98%
Brazil | 203 million | 91%
Colombia | 47 million | 94%
Ecuador | 15 million | 92%
...|...|...

Every column in a database will have a type associated with it while two column day have the same type  the values can totally team different things. Say we have a database of a hotel which has two collumns, one for hotel room numer and another of cost per night. hotel room 77 will have little to do with $77 a night for a room.  

## Anatomy of a Table
The name of our table below is Animals. The name of the table and the column name and type make up the table header. The body of the table makes up the rest of the table
Animals:

name| species| birthdate
--- | --- | ---
Max | gorilla | 2001-04-13
Sue | gorilla | 1998-06-12
Max | moose | 2012-02-20
Alison | llama | 1997-11-24

![title](img/figure1.png)
![title](img/figure2.png)
![title](img/figure3.png)

Primary keys need to be unique. Using a name may seem like a good idea as a unique but there may be multiple "Sam Smith" and if one of the Sam Smiths got a ticket would that mean the other Sam Smith would have to pay it? It often best to use a number for each person. 

![title](img/figure4.png)

# Element of SQL
## Types in SQL World
### Text and string types
* text - like str type in python but writen in 'single quotes'
* char(n) — a string of exactly n characters.
* varchar(n) — a string of up to n characters.
### Numeric types
* integer - like int type in python but with different limits
* real — a floating-point value, like Python float. Accurate up to six decimal places.
* double precision — a higher-precision floating-point value. Accurate up to 15 decimal places.
* decimal — an exact decimal value.

### Date and time types
* date — a calendar date; including year, month, and day.
* time — a time of day.
* timestamp — a date and time together.
**hint:** Always put 'single quotes' around text strings and date/time values. example '2012-11-23' can be read as a string or a date while 2012-11-23 will be read as a mathamatical expression ((2012 - 11) - 23) which returns 1978.

## Comparison Operations in SQL
* = - is equal to
* < - is less than
* \> - is greater than
* <= is less than or equal to
* \>= - is greater than or equal to
* != - is not equal to
![title](img/figure5.png)
![title](img/figure6.png)