# What is a DataBase?

## How do we Structure Application Data?
### In Memory:
* simple variables: numerics and string
* data structures: lsits, dictionaries, objects
Memory is ephemeral and temporary


### Durable Storage:
* flat files on disk: test, XML, JSON
Durable storage is persistent and durable.

Databases give us persistence like a file but also data structure for multiple programs or users to access modify data without steping on eachothers toes or make changes.
This is not possible with files as they only update on saves.

### Databases:
* key-value store
* navigational DB
* relational DB

## Relational Database Features:
### All Databases:
* persistent storage
* safe concurrent access by multiple programs/users
### Relational database:
* Flexible query language with aggregation and join operations
* contstraints - rules for protecting consistency of your data


### Looking at Tables:
In a relational database we store all of our data in the forum of tables

Country| Population| Literacy
--- | --- | ---
Argentina | 43 million | 98%
Brazil | 203 million | 91%
Colombia | 47 million | 94%
Ecuador | 15 million | 92%
...|...|...

Every column in a database will have a type associated with it while two column day have the same type  the values can totally team different things. Say we have a database of a hotel which has two collumns, one for hotel room numer and another of cost per night. hotel room 77 will have little to do with $77 a night for a room.  

## Anatomy of a Table
The name of our table below is Animals. The name of the table and the column name and type make up the table header. The body of the table makes up the rest of the table
Animals:

name| species| birthdate
--- | --- | ---
Max | gorilla | 2001-04-13
Sue | gorilla | 1998-06-12
Max | moose | 2012-02-20
Alison | llama | 1997-11-24

Primary keys need to be unique. Using a name may seem like a good idea as a unique but there may be multiple "Sam Smith" and if one of the Sam Smiths got a ticket would that mean the other Sam Smith would have to pay it? It often best to use a number for each person. 

When learning SQL there may be multiple different choices to choose from. While you can see the options below, mysql and postgresql will take you query and go over a network to the database sever to be able to access you data, but with sqlite your database will be found on your system and can access your disk directly.

![title](img/figure1.png)
<img src="img/figure1.png">
## Relating Tables

With relational databases we have tables relate to one another, we in the figure below we will see an example. Pictures and Votes are two tables that we would like to use information from. We have an app with pictures and we want our users to vote for their favorite. Say now that we are interested in which cat got the most votes. With SQL we can do that in just a few lines of code but lets get the high level understanding done first. The first thing we may want to do is sub the Votes tables with the names of the cats from our Pictures table.

![title](img/figure2.png)
![title](img/figure3.png)

After we join the tables we would select the winners-name and group by winner-name Order by the total count of winner-name, order in desceding order and limit it just 1. This would return us the most popularr cat.

Another examples with fish is in the figure below for a more visual representation. 
![title](img/figure4.png)